@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Roboto&display=swap');

/*font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/

html, body, p {
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1  {
  font-size:  34px;
  margin-bottom: 10px;
}

h2 {
  font-size:  28px;
}

h3 {
  font-size:  24px;
}

h4 {
  font-size: 18px ;
}

h5 {
  font-size: 14px ;
}

p {
  font-size:  18px;
}

nav {
  margin: 0 auto;
  padding:  15px;
}

hr {
  max-width:  30%;
  margin:  10px auto;
}

#nav-links > li {
  display: inline-block;
  padding: 0 10px;
}

#nav-links > li > a {
  text-decoration: none;
  color: #000;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}

.col {
  padding: 15px;
}

.col-full {
  width: 100%;
}

.col-75 {
  width:  75%;
}

.col-66 {
  width: 66%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33%;
}

.col-fourth {
  width:  25%;
}

.col-fifth {
  width:  20%;
}

.nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin:  15px auto;
  margin-bottom:  45px;
  max-width:  1280px;
  padding: 15px;
}

.full-width {
  max-width:  100%;
}

.page-header {
  text-align: center;
}

.text-center { text-align: center; }

.mb-5 {
  margin-bottom:  5px;
}

.mb-10 {
  margin-bottom:  10px;
}

.mb-15 {
  margin-bottom:  15px;
}

.mb-20 {
  margin-bottom:  20px;
}

.bb-black {
  border-bottom: 1px solid black;
}