@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Roboto&display=swap');

/*font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/

html, body, p {
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1  {
  font-size:  34px;
}

h3 {
  font-size:  16px;
}

p {
  font-size:  18px;
}

nav {
  margin: 0 auto;
  padding:  15px;
}

#nav-links > li {
  display: inline-block;
  padding: 0 10px;
}

#nav-links > li > a {
  text-decoration: none;
  color: #000;
}

.nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin:  15px auto;
  max-width:  1280px;
}

.page-header {
  text-align: center;
}

/*UTILITIES*/
